<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter your request" #search (keyup.enter)="getGifs(search.value)">
  </mat-form-field>

<!--<ul>-->
  <!--<li *ngFor="let gif of gifs">{{gif.title}}-->
    <!--<img src="{{gif.images.downsized.url}}" alt="">-->
  <!--</li>-->
<!--</ul>-->

  <mat-grid-list cols="6" rowHeight="1:1">
    <mat-grid-tile *ngFor="let gif of gifs">
      <img src="{{gif.images.downsized.url}}" alt="">
    </mat-grid-tile>
  </mat-grid-list>

</div>

<button mat-button (click)="getMoreGifs()">Click me!</button>
