<div class="giphy-container"
     infinite-scroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="300"
     (scrolled)="getMoreGifs()">
  <h1>
    Welcome to Giphy-app!
  </h1>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter your request" #search (keyup)="getGifs(search.value)">
  </mat-form-field>

  <h2 *ngIf="nothingFound">Nothing found</h2>

  <mat-grid-list cols="4" rowHeight="3:2">
    <mat-grid-tile *ngFor="let gif of gifs" class="gif-img">
      <img src="{{gif.images.fixed_height.url}}" alt="{{gif.title}}" (click)="openDialog(gif)">
    </mat-grid-tile>
  </mat-grid-list>

  <h2 *ngIf="itsAll&&!nothingFound">It's all...</h2>

</div>
