.giphy-container {
  text-align:center;
  min-height: 1000px;
}
mat-grid-list {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px !important;
}
.gif-img {
  background: darkgrey;
}
.gif-img img {
  min-height: 100%;
  min-width: 100%;
}
