.giphy-container {
  text-align:center;
  min-height: 1000px;
}
.gif-img {
  background: darkgrey;
  height: 140px;
  padding: 0;
  overflow: hidden;
}
.gif-img img {
  min-height: 100%;
  width: 100%;

}
