<div class="giphy-container"
     infinite-scroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="getMoreGifs()">
  <h1>
    Welcome to Giphy-app!
  </h1>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter your request" #search (keyup)="searchGifs(search.value)">
  </mat-form-field>

  <h2 *ngIf="nothingFound">Nothing found, try another request</h2>

  <div class="container">
    <div class="row">
      <div class="col-md-2 col-xs-4 gif-img" *ngFor="let gif of gifs">
        <img src="{{gif.images?.preview_gif?.url || gif.images.fixed_height.url}}" alt="{{gif.title}}" (click)="openDialog(gif)">
      </div>
    </div>
  </div>

  <h2 *ngIf="itsAll&&!nothingFound">It's all...</h2>

</div>
